/*===============SESION "0" STAR======================*/
body{
    scroll-behavior: smooth;
}
.sesion0 {
    /*==== 1 ====*/
    background: var(--background-negro-principal); 
    overflow: hidden;
    height: 850px;
    margin-top: 0px;
}
.tituloEscoje {
    position: absolute;
    top: 18vw;
    margin-left: 100px;
    *color: var(--grisClaro);
    font-size: 5em;
    font-weight: 700;
    background: linear-gradient(to bottom, rgb(137, 137, 137), rgba(255, 0, 0, 0));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
/*background start======================*/
.containerImg {
    /*======2=======*/
    *background-color: blue;
    position: relative;
    width: 100vw;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imgPiso {
    *background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    *height: 250px;
    *margin-top: 350px;
    background-position-y: 0;
    transform-origin: bottom;
    z-index: 3;

}
.lamparas {
    position: absolute;
    top: 450px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.lamparas img {/* imagenes ciudad fondo*/
    *background-color: rgba(137, 43, 226, 0.274);
    position: absolute;
    width: 100%;
}
.separador-negro{
    position: absolute;
    background-image: linear-gradient(to top, rgb(37, 37, 37) 70%, transparent);
    top: 740px;
    width: 100%;
    height: 200px;
    z-index: 6;
}
/*background end======================*/
/*iconos bajar a otra páguina start======================*/
.cotenedor-icono {
    *background-color: rgb(255, 0, 0);
    position: absolute;
    padding: 20px;
    z-index: 5;
    top: 550px;
    left: 48%;
    font-size: 25px;
    cursor: pointer;
    animation: bajar-subir 1s ease infinite;
    transition: .3s;
}
@keyframes bajar-subir {
    0% {
        transform: translateY(30px) scale(.8);
    }

    20% {
        transform: translateY(0px) scale(1);
    }

    100% {
        transform: translateY(30px) scale(.8);
    }
}
.fa-chevron-down {
    *background-color: red;
    padding: 30px;
    color: var(--grisClaro);
}
.cotenedor-icono:hover .fa-chevron-down {
    color: rgb(255, 255, 255);
}
/*iconos bajar páguina end======================*/
/*iconos logos start======================*/
@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-16.66vw * 6));
    }
}
.sliderLogo {
    *background-color: brown;
    position: absolute;
    *height: 15px;
    margin: auto;    
    margin-top: 200px;
    overflow: hidden;
    width: 100vw;
    z-index: 5;
}
.sliderLogo .slideTrackLogo {
    position: relative;
    *background-color: chartreuse;
    animation: loop 28s linear infinite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200vw;
    z-index: 3;
}
.sliderLogo .slideLogos {
    *background: rgb(99, 31, 31);
    display: flex;
    flex-direction: row;
    *justify-content: space-between;
    height: 30px;
    width: calc(16.66vw * 12);
}
.slideLogos img {
    opacity: .5;
}
/*iconos logos end======================*/
/*carrusel vehiculos start======================*/
.sectionPrueba {
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 5;
    *background: rgba(66, 32, 8, 0.295);
    *padding: 30px;
    width: 100vw;
    height: 800px;
}
.carousel__contenedor {
    *background-color: rgba(51, 71, 11, 0.384);
    position: relative;
    *width: 100vw;
    *height: 100vh;
    *margin: 0 30px 0 30px;
}
.carousel__anterior2,
.carousel__siguiente2 {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    top: calc(50% - 55px);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    background: none;
    color: rgb(255, 217, 0);
    opacity: 20%;
}
.carousel__anterior2:hover,
.carousel__siguiente2:hover {
    opacity: 100%;
}
.carousel__anterior2 {
    left: -30px;
}
.carousel__siguiente2 {
    right: -30px;
}
.carousel__lista {
    overflow: hidden;
}
.carousel__elemento {
    *background-color: blue;
    width: 100vw;
    height: 800px;
    position: relative;
    text-align: center;
}
.s0imgCar {/* carros del carrusel imagen*/
    *background-color: blueviolet;
    position: absolute;
    width: 40%;
    left: 100px;
    top: calc(50% - 125px);
    z-index: -2;
}
.s0ContCar {
    *position: absolute;
    width: 100vw;
    z-index: -1;
}
.carousel__indicadores2 .slick-dots {
    /*no implementado */
    background-color: blueviolet;
    color: black;
    display: block;
    width: 30px;
    height: 4px;
    opacity: .6;
}
.carousel__indicadores .glider-dot:hover {
    opacity: .8;
}
.carousel__indicadores .glider-dot.active {
    opacity: 1;
}
/*SPARK FONDO================*/
.nombreCar{
    *background-color: blue;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:-11;
}
.contenedor__informacion-promocion {/*contiene la informacion de la promocion*/
    display: flex;
    height: 800px;
    width: 100%;
}
.contenedor__informacion-promocion h1 {/*titulo spark*/
    *margin-top: -80px;
    text-align: left;
    font-size: 8.1rem;
}
.nombreCar h1{
    margin-top: -100px;
    margin-left: -580px;
    transform: rotateZ(-15deg);
    font-size: 12rem;
    color: transparent;
    -webkit-text-stroke:1px rgb(255, 255, 255);
}
.nombreCar span{
    position: absolute;
    margin-top: 60px;
    margin-left: -170px;
    transform: rotateZ(-3deg);
    font-size: 12rem;
    color: rgb(60, 255, 0);
    
}

 /*camioneta contenido=========*/
 .contenedor__contenido-camionetas{
    *background-color: tomato;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor__contenido-camionetas h1{/*OFERTAS ESPECIALES*/
    font-size: 4rem;
    margin-top: 50px;
    z-index: -10;
    color: rgb(233, 233, 233);
}
.contenedor__contenido-camionetas h2{/*Apresurate Miles de vehículos*/
    font-size: 1.1rem;
    margin-right: 560px;
    color: rgb(218, 218, 218);
}
.contenedor__contenido-camionetas p{/*Vehículos sujetos a disponibilidad */
    position: absolute;
    font-size: 1rem;
    bottom: 210px;
    left: 15px;
}

/*contenido del texto en vehiculos  end======================*/
/*contenido del boton saber mas start=====================*/
.btnCarousel {
    background-color: red;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    position: absolute;
    right: 80px;
    bottom: 400px;
    transition: .3s ease-in-out;
}
.btnCarousel:hover {
    background-color: rgb(255, 255, 255);
    color: var(--red);
    transform: scale(1.1);
}
/*contenido del boton saber mas end=====================*/
@media (max-width: 991px) {}
/*==============================SESION "0" END===========================*/
/***********************************************************************/
/*==============================SESION GARANTIA SEGURIDAD START===========================*/
.garantia-seguridad-asesoria{
    position: relative;
    background-color: var(--background-color-principal);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.garantia-seguridad-asesoria div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    padding: 40px;
    margin: 0px 30px;
    color: var(--color-gris-principal);
    background-image: var(--background-cajon-negro);
    border-radius: 25px;
    box-shadow:var(--box-shadow-cajon-principal);
    border-top: var(--border-top-cajon-principal);
    border-left:var(--border-left-cajon-principal);
}
.garantia-seguridad-asesoria div img{
    width: 100px;
}
.garantia-seguridad-asesoria div h1 {
    margin: 20px 0;
    font-size: 2rem;
}
.garantia-seguridad-asesoria > p{
 position: absolute;
 bottom: 20px;
 color: var(--color-gris-principal);
}

/*==============================SESION GARANTIA SEGURIDAD END===========================*/
/***********************************************************************/
/*==============================SESION "1" START===========================*/
.sesion1{
    position: relative;
    background-color: var(--background-color-principal);
    display: flex;
    flex-wrap: wrap;
    *justify-content: space-between;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    overflow: hidden;
    height: 900px;
}
.sesion1 .tituloVenta{/* titulo vehiculos disponibles*/
    position:relative;
    margin-left: 20vw;
    margin-top: 40px;
    z-index: 1;
    font-size: var(--medida-titulo-principal);
    font-weight: var(--bold-titulo-principal);
    background: var(--background-titulo-principal);
    color: var(--color-titulo-principal);
    -webkit-background-clip: text;
    background-clip: text;
}
.sesion1 .tituloVenta span{/* titulo vehiculos disponibles*/
    position: absolute;
    bottom: -20px;
    right: 0px;
    font-size: var(--medida-titulo-secundario);
    background-image: var(--background-titulo-secundario);
    color: var(--color-titulo-secundario);
    -webkit-background-clip: text;
    background-clip: text;
}
.vehiculos-disponibles{
    height: 900px;
  *background-color: blue;
}
.contenedor__sesion-ventas{/*contenedor de contenido de la sesion de ventas*/
  *background-color: green;
  margin-top: 30px;
  width: 100%;
  height: 700px;      
  display: flex;
  flex-direction: row;

}
/*edicion del menu de filtro start*/
.contenedor__menu-buscar{/*contenedor del menu de busqueda*/
  *background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px  0 0;
  width: 20%;
  height: 800px;
  color: rgb(158, 158, 158);
  border-right: .5px solid var(--color-gris-principal);
}    
.contenedor__filtros{
    width: 80%;
    height: 120px;
    *background-color: turquoise;
}
.contenedor__vista{
    width: 80%;
    *background-color: thistle;
    margin-bottom: 10px;
}
.contenedor__ordenarPor{
    display: flex;
    flex-direction: column;
    line-height: 70px;
    *background-color: tomato;
    width: 80%;
}
.contenedor__marca,
.contenedor__modelo,
.contenedor__fechaVeh,
.contenedor__tipoCarro{
    position: relative;
    *background-color: turquoise;
    height: 45px;
    border-bottom: 1px solid rgb(190, 190, 190);
}
.contenedor__ordenarPor i{
    position: absolute;
    color: rgb(158, 158, 158);
}
.contenedor__marca i,
.contenedor__modelo i,
.contenedor__fechaVeh i,
.contenedor__tipoCarro i{
    *color: red;
    bottom: 5px;
    right: 0;
}
/*edicion del menu de filtro end=======*/

.contenedor__venta-vehiculos{/*contenedor de todos los frames de los vehiculos ofertados*/
  *background-color: rgb(255, 255, 255);
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.frame-blanco-vehiculo{/*contenedor de imagen veiculo y texto venta*/
    margin: 0 35px 0 0;
    width: 230px;
    height: 270px;
    background-image: var(--background-cajon-negro);
    box-shadow:var(--box-shadow-cajon-principal);
    border-top: var(--border-top-cajon-principal);
    border-left:var(--border-left-cajon-principal);
    border-radius: 25px;
    transition: .3s ease-in-out;
}
.frame-blanco-vehiculo:hover {/*contenedor de imagen veiculo y texto venta*/
    transform: scale(1.01);
}
.contenedor__img-carro-venta{/*contenedor de la imagen de vehiculo a la venta*/
    
    height: 55%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 25px 25px 0 0;
}
.frame-blanco-vehiculo img{/*imagen de vehiculo a la venta*/
    width: 100%;
    *object-fit: cover;
    transition: .3s ease-in-out;
}
.frame-blanco-vehiculo img:hover{/*imagen de vehiculo a la venta*/
    transform: scale(1.05);
    
}
.contenedor__contenido-carro-venta{/*contenedor del contenido de la venta*/
    *background-color: blue;
    padding: 15px;
    color: var(--color-gris-principal);
    font-size: 1.3rem;
    line-height: 25px; 
    font-weight: 100;  
}
.contenedor__contenido-carro-venta .precio{/*precio de vehiculo*/
    color: var(--grisClaro);     
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
.contenedor__contenido-carro-venta h4{/*precio de vehiculo*/     
    font-weight: 100;
    font-size: 1.2rem;
}
.sesion1 > p{
    color: var(--color-gris-principal);
    position: absolute;
    bottom: 0pt;
    left: 35%;
}
/*==============================SESION "1" END===========================*/
/***********************************************************************/
/*===============SISION  MISION y VISION START======================*/
.sesion__mision, .sesion__vision{/*sesion*/
        padding-top: 80px;
        background-color: var(--background-color-principal);
        position: relative;
        align-items: center;
        height: 550px;
        z-index: -1;
}
.sesion__vision{/*sesion*/
    padding-top: 0px; 
    position: relative; 
}
.box{
        *background-color: blue;
        *display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: 800px;
}
.sesion__mision h2{/* titulo h2*/
        margin: 60px 0 10px 20vw;/*arriba derecha abajo izquierda*/
        z-index: 1;
        font-size: var(--medida-titulo-principal);
        font-weight: var(--bold-titulo-principal);
        background: var(--background-titulo-principal);
        color: var(--color-titulo-principal);
        -webkit-background-clip: text;
        background-clip: text;
}
.sesion__vision h2{/* titulo h2*/
        margin: 0px 15vw 20px 0;/*arriba derecha abajo izquierda*/
        text-align: right;
        z-index: 1;
        font-size: var(--medida-titulo-principal);
        font-weight: var(--bold-titulo-principal);
        background: var(--background-titulo-principal);
        color: var(--color-titulo-principal);
        -webkit-background-clip: text;
        background-clip: text;
}
.sesion__mision .container, 
.sesion__vision .container{/* contenedor de el contenedor de la imagen y el contenedor del contenido del texto*/
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: -1;
}
.sesion__mision .container .imgBx, 
.sesion__vision .container .imgBx{/* contenedor de la imagen*/
        position: absolute;
        width:500px;
        height: 330px;
        overflow: hidden;
        left: 660px;
        top: -70px;
        border-radius: 25px;
        box-shadow:var(--box-shadow-cajon-principal);
        border-top: var(--border-top-cajon-principal);
        border-left:var(--border-left-cajon-principal);
}
.sesion__vision .container .imgBx{/* contenedor de la imagen*/
    left: 230px;
    top: -70px;
}
.sesion__mision .container .imgBx img, 
.sesion__vision .container .imgBx img{/* imagen*/
        *position: absolute;
        *top: -500px;
        right: 0;
        width: 100%;
        object-fit: cover;
        *height: 500px;
        opacity: 30%;
        object-fit: cover;/*centra la imagen **lo estaba buscando** */
}
.sesion__mision .content{/* contenedor del contenido del texto*/ 
        position: absolute;   
        padding: 20px;
        max-width: 370px;
        left: 250px;
        top: 10px;
        font-size: 1rem;
        line-height: 25px;        
        color: var(--color-gris-principal);
        *box-shadow: 0 25px 35px rgba(0, 0, 0, 1);
        *border-left: 1px solid red;
}
.sesion__vision .content{/* contenedor del contenido del texto*/    
        position: absolute;   
        padding: 20px;
        max-width: 370px;
        right: 10vw;
        top: 10px;
        font-size: 1rem;
        line-height: 25px;
        color: var(--color-gris-principal);
        *box-shadow: 0 25px 35px rgba(0, 0, 0, 1);
        *border-right: 1px solid red;
}
.sesion__vision > p{/* contenedor del contenido del texto*/   
    position: absolute;
    font-size: .9rem;
    bottom: 100px;
    color: var(--color-gris-principal);
    text-align: center;
    left: 24%;
}
/*===============SISION  MISION  y VISION END======================*/

/***********************************************************************/
/*==============================SESION "2" START===========================*/
.sesion2{
    background: var(--background-color-principal);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    overflow: hidden;
}
.conS2{
    *background-color: darkgray;
    *position: absolute;
    width: 100%;
    margin-top: -10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.s2-text {
    *background-color: thistle;
    right: 450px;
    position: relative;
    font-size: 16px;
    top: -100px;
    opacity:1;
    width: 350px;
    color: rgb(156, 156, 156);
}
.s2-text h1{
    margin-bottom: 25px;
    font-size: var(--medida-titulo-principal);
    font-weight: var(--bold-titulo-principal);
    background: var(--background-titulo-principal);
    color: var(--color-titulo-principal);
    -webkit-background-clip: text;
    background-clip: text;
}
.s2-text h1 span{
    position: absolute;
    top: 45px;
    left: 70px;
    font-size: var(--medida-titulo-secundario);
    font-weight: var(--bold-titulo-secundario);
    background: var(--background-titulo-secundario);
    color: var(--color-titulo-secundario);
    -webkit-background-clip: text;
    background-clip: text;
}
.s2-text p{
    font-size: 1.2rem;
    position: relative;
    color: var(--color-gris-principal);
    width: 400px;
    padding: 30px;
    border-radius: 25px;
    background-image: var(--background-cajon-negro);
    box-shadow:var(--box-shadow-cajon-principal);
    border-top: var(--border-top-cajon-principal);
    border-left:var(--border-left-cajon-principal) ;
    
}
.s2-img2 img{
    position: absolute;
    margin-top: 30px;
    *background-color: rosybrown;
    width: 700px;
    left: 26%;
}
/*==============================SESION "2" END===========================*/
/***********************************************************************/





/***********************************************************************/
/*==============================SESION "3" START==========================*/
.sesion3{
    *margin-top: -170px;
    background: var(--background-color-principal);
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    justify-content: space-between;
    align-items: center;
    *clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    overflow: hidden;
}
.conS3{
    position: absolute;
    width: 100%;
    margin-top: -40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.s3-text {/*contenedor de texto y cajones */
    *background-color: thistle;
    position: relative;
    font-size: 16px;
    top: 100px;
    right: 70px;
    width: 700px;
    color: var(--color-gris-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}
.s3-text h1{/*titulo servicios*/
    position: absolute;
    left: 0;
    top:-30px;
    font-size: var(--medida-titulo-principal);
    font-weight: var(--bold-titulo-principal);
    background: var(--background-titulo-principal);
    color: var(--color-titulo-principal);
    -webkit-background-clip: text;
    background-clip: text;
}
.s3-text p a{/*terminos y condiciones*/
    color: var(--color-gris-principal);
    position: absolute;
    font-size: 10px;
    left: 0;
    bottom:-250px;
    z-index: 3;
}
.s3-text p{
    margin-top: 15px;
    font-size: 9px;
}
.s3-text div{/* cuadros de servicios*/
    background-image: var(--background-cajon-negro);
    box-shadow:var(--box-shadow-cajon-principal);
    border-top: var(--border-top-cajon-principal);
    border-left:var(--border-left-cajon-principal);
    border-radius: 25px;
    margin: 80px 20px; 
    padding: 30px;
    width: 200px;
    height: 200px;
    font-size: 14px;
}
.s3-text div h3{
    font-size: 20px;
}
.s3-img1 img{
    position: relative;
    top: 250px;
    *background-color: rgb(143, 36, 36);
    width: 350px;
    *margin-left: 190%;
    left: 55%;
    z-index: 1;
}
.s3-img2 img{
    position: absolute;
    top: 340px;
    *background-color: rosybrown;
    width: 280px;
    *margin-left: 30%;
    left: 90PX;
    z-index: 2;
}
/*==============================SESION "3" END===========================*/
/***********************************************************************/





/***********************************************************************/
/*==============================SESION "4" START==========================*/
.sesion4{
    background: var(--background-color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    *clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    *overflow: hidden;
}
.s4-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.s4-cont .heading{
    padding: 70px;
    color: rgb(255, 255, 255);
    font-size: 5em;
    font-weight: 700;
    background: linear-gradient(to bottom, rgb(137, 137, 137), rgba(255, 0, 0, 0));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.s4-cont .row{
    position: relative;
    width: 100vw;
    height: 600px;
    *background-color: tomato;
}
.containerFormaulario{
    position: absolute;
    top: 60px;
    right: 180px;
    height: 500px;
    width: 400px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 5px 10px rgba(26, 26, 26, 0.699);
}
.containerFormaulario .box{
    width:95%;
    border-radius: 25px;
    padding:1.5rem ;
    font-size: 1rem;
    height: 1px;
    text-transform: none;
    margin:.7rem ;
}
.containerFormaulario textarea{
    min-height:20rem;
    resize: none;
    background-color: rgb(230, 230, 230);
}
.containerFormaulario input{
    width: 90%;
    background-color: rgb(230, 230, 230);
}
.btnContactenos{
    min-width: 95%;
    margin-top: 10px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 25px;
}
.row img{
    width: 450px;
    margin-left: 290px;
    border-radius: 25px;
    box-shadow:var(--box-shadow-cajon-principal);
    border-top: var(--border-top-cajon-principal);
    border-left:var(--border-left-cajon-principal);
}
/*==============================SESION "4" END===========================*/
/***********************************************************************/






/***********************************************************************/
/*==============================SESION "5" START==========================*/
.sesion5{
    background: linear-gradient(to bottom, rgb(36, 36, 36) 70%,rgb(40, 40, 40));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1100px;
    margin-top: -150px;
    overflow-x: hidden;
}
.conS5{
    position: absolute;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.s5-img1 img{
    position: absolute;
    top: 670px;
    *background-color: rgb(143, 36, 36);
    width: 300px;
    *margin-left: 190%;
    left: 60%;
}
.s5-text h1{
    position: relative;
    margin-bottom: 25px;
    font-size: 5em;
    font-weight: 700;
    background: linear-gradient(to bottom, rgb(137, 137, 137), rgba(255, 0, 0, 0));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.s5-text h1 span{
    position: absolute;
    color: red;
    top: 45px;
    left: 70px;
    font-size: 40px;
    *margin-bottom: 25px;
}
.map{
    position: relative;
    margin: 3rem;
    margin-bottom: -20%;
    height: 340px;
    width: 500px;
    padding:1rem;
    border-radius: 25px;
    background-image: var(--background-cajon-negro);
    box-shadow:var(--box-shadow-cajon-principal);
    border-top: var(--border-top-cajon-principal);
    border-left:var(--border-left-cajon-principal);
}
.s5-img2 img{
    position: absolute;
    top: 530px;
    *background-color: rosybrown;
    width: 700px;
    *margin-left: 30%;
    left: 15%;
}
/*==============================SESION "5" END===========================*/
/***********************************************************************/
