
        /*================HEADER START=========================*/
        .containerHeader {
            width: 100vw;
            height: 75px;
            position: fixed;
            background: linear-gradient(to left, rgb(0, 0, 0) , rgb(29, 29, 29) ) ;
            *backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 999;
            padding: .5rem;
            *top: -200px;
        }
       
        /* ================================*/
        .logoHeader {
            width: 11rem;
            padding: 2rem;
            margin-left: 30px;
        }
        .navbar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: right;

        }
        .navbar a {
            font-size: 1rem;
            margin-right: 3rem;
            color: rgb(165, 165, 165);
            *transition: .3s;
        }
        .navbar a:hover {
            color: red;
        }
        .loginIcon {
            margin-right: 20px;
            font-size: 1.5rem;
            color: rgb(189, 189, 189);
            display: none;
            cursor: pointer;
        }
        #menu-btn {
            z-index: 2;
            position: relative;
            font-size: 1.5rem;
            margin-left: 20px;
            color: rgb(189, 189, 189);
            cursor: pointer;
            display: none;
            transition: .3s;
        }
        .containerHamburgesa {
            display: none;
        }
        /*=====MEDIA QUERIES======*/
        @media (max-width: 991px) {

            .logoHeader {
                padding: 2rem;
            }
        }
        @media (max-width: 768px) {

            .loginIcon {
                display: block;
            }

            .containerHamburgesa {
                display: flex;
                align-items: center;
                width: 5.5%;
            }

            #menu-btn {
                position: relative;
                display: block;
            }

            /*SE CREAN EN UNIVERSAL.JS AL DAR CLICK EN LA HAMBURGESA*/
            .fa-times {
                transform: rotate(180deg);
                transition: 3s ease-in-out;
            }

            /*=======================================================*/
            .navbar {
                z-index: 1;
                width: 100%;
                position: absolute;
                height: 200vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: right;
                top: 0px;
                left: -110%;
                background: rgba(20, 20, 20, 0.5);
                backdrop-filter: blur(5px);
                transition: 1.3s ease-in-out;
            }

            .navbar a {
                margin: 5rem 0 0 10rem;
                font-size: 1.5rem;
            }

            /*SE CREAN EN UNIVERSAL.JS AL DAR CLICK EN LA HAMBURGESA*/
            .active1 {
                left: -30%;

            }

        }
        /*=====VENTANA LOGIN START======*/
        .containerLogin {
            position: fixed;
            top: 0;
            right: -105%;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(20, 20, 20, 0.1);
            backdrop-filter: blur(5px);
            z-index: 10000;
            transition: 1.3s ease-in-out;

        }
        .containerLogin.active {
            right: 0;
        }
        .formLogin {
            position: absolute;
            margin: 2rem;
            text-align: center;
            padding: 2rem;
            width: 40rem;
            border-radius: .5rem;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
            background: #fff;
        }
        .btnGyF {
            *background: lightgreen;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-right: -40px;
        }
        input.btnIniciarSesion {
            display: block;
            width: 100%;
            margin: .5rem 0;
        }
        .boxInput {
            background-color: rgb(243, 243, 243);
            margin: .7rem 0;
            width: 100%;
            font-size: 1.6rem;
            color: black;
            text-transform: none;
            *border: var(--border);
            padding: 1rem 1.2rem;
            border-radius: .5rem;
        }
        .containerLogin form p {
            padding: 1rem 0;
            font-size: 1rem;
            color: rgb(121, 121, 121);
        }
        .containerLogin form p a {
            color: blue;
            text-decoration: underline;
        }
        .containerLogin form h3 {
            padding-bottom: 1rem;
            font-size: 2.5rem;
            color: black;
        }
        #close-login-form {
            position: absolute;
            margin-top: -450px;
            margin-left: 230px;
            font-size: 2.5rem;
            color: rgb(87, 87, 87);
            cursor: pointer;
        }
        #close-login-form:hover {
            font-size: 2.8rem;
            background: rrgb(77, 77, 77);
            color: rgb(255, 0, 0);
        }
        @media (max-width: 770px) {
            #close-login-form {
                margin-top: -410px;
                right: -5%;
            }
        }
        @media (max-width: 573px) {
            .formLogin {
                width: 80%;
            }

            #close-login-form {
                top: 94%;
                right: -22px;
            }
        }
        @media (max-width: 308px) {
            #close-login-form {
                top: 71%;

            }
        }
        /*=====VENTANA LOGIN END======*/
        /*================HEADER END=========================*/