  <!-- ==========================================SECTION ASESOR END=============================-->        
  <section class="asesor">
    <div class="contenedor__info-asesor">
        <h1 class="titulo">Asesorar</h1>
        <p style="font-size: 1.1rem;">Aquí podrás gestionar las solicitudes realizada por los clientes y las cuenta de los clientes.</p>
        <p style="font-size: .8rem;">* para realizar la actualizacion de cualquier campo se debe tener el formulario autorizado por el cliente para asi poder ser ejecutada.</p>
        <p style="font-size: .8rem;">*cualquier información eliminada no podra ser recuperada bajo ninguna circunstancia</p>
        <div class="solicitudes">
            <a class="titulos__cajones" routerLink="soilicitud/lista-solicitudes">
                <h4>Solicitudes</h4>
                <p>Administrar solicitudes</p>
            </a>
            <div class="acceso__metodo-crud">
                <a href="#">Deseo Ver todas las solicitudes realizadas por los clientes.</a>
                <a href="#">Deseo Buscar a una solicitud de un cliente en específico.</a>
                <a href="#">Deseo Eliminar una solicitud de algún cliente. </a>
            </div>
            <div class="buscar">
                <i class="fas fa-search"></i>
               <input type="text" placeholder="Buscar">                                         
            </div>
        </div>
        <div class="clientes">
            <a class="titulos__cajones" routerLink="administracion/lista-cliente">
                <h4>Clientes</h4>
                <p>Administrar clientes</p>
            </a>
            <div class="acceso__metodo-crud">
                <a routerLink="/administracion/">Deseo Ver todos los clientes registrado en la página </a>
                <a routerLink="/administracion/registrar-cliente">Deseo Registrar a un nuevo cliente en la página </a>
                <a routerLink="/administracion/buscar-cliente">Deseo Buscar a un cliente registrado en la página </a>
                <a routerLink="/administracion/actualizar-cliente">Deseo Actualizar la información a un cliente en específico registrado en la página por solicitud de el mismo cliente </a>
            </div>
            <div class="buscar">
                <i class="fas fa-search"></i>
               <input type="text" placeholder="Buscar">                                         
            </div>
        </div>
        <P>* cualquier solicitud debe contar con un documento de respaldo autorizada por el cliente o el asesor con el fin de evitar problemas legales</P>
    </div>
</section>
<!-- ==========================================SECTION ASESOR END=============================-->
<!--*****************************************************************************-->