<!-- ==========================================FOOTER START=============================-->
<footer class="containerFooter" id="footer">
    <div class="containerlineaHeader">
        <div class="lineaHeader"></div>
    </div>
    <nav class="containerLogoFooter ">
        <a routerLink="/inicio"><img class="logo logoFooter" src="./assets/img/logoAutoLuxuryColor.png"  alt=""></a>
    </nav>
    <nav class="informacion">
        <ul class="footerInformacion">
            <li>
                <h1>Nosotros</h1>
            </li>
            <li><a routerLink="">Quienes Somos</a></li>
            <li><a routerLink="">Misión</a></li>
            <li><a routerLink="">Visión</a></li>
            <li><a href="http://localhost:4200/inicio#mapaSitio">Mapa del sitio</a></li>
        </ul>
    </nav>
    <nav class="informacion">
        <ul class="footerInformacion">
            <li>
                <h1>Personas</h1>
            </li>
            <li><a routerLink="/seguridad/login">Iniciar sesión</a></li>
            <li><a routerLink="/administracion/registrar-cliente">Registrarse</a></li>
            <li><a href="">Perfil</a></li>
            <li><a routerLink="">Politicas y Condiciones</a></li>
        </ul>
    </nav>
    <nav class="servicoCliente">
        <ul class="footerInformacion">
            <li>
                <h1>Servicio al Cliente</h1>
            </li>
            <li><a href="">Contactar a un asesor</a></li>
            <li><a href="http://localhost:4200/inicio#contacto">Contactenos</a></li>
            <li><a href="">Catálogo de Servicio</a></li>
            <li><a href="">Términos y Condiciones</a></li>
        </ul>
    </nav>
    <nav class="informacion">
        <ul class="footerInformacion">
            <li>
                <h1>Documentacion</h1>
            </li>
            <li><a href="">¿Por Que Este Documento?</a></li>
            <li><a href="">Documentación Requerida</a></li>
            <li><a href="">Clausulas</a></li>
            <li><a href="">Tratamiento de datos</a></li>
        </ul>
    </nav>
    <nav class="containerEmailInput">
        <div class="containerInput">
            <input class="input" type="text" placeholder="Email">
            <button class="btnEnvirFooter btn ri-send-plane-line"> Suscribirse</button>
        </div>
    </nav>
    <div class="final">
        <div class="textoFinal">
            <a href="">&#169; Grupo5. All right reserved.</a>
            <a href="">Términos</a>
            <a href="">Privacidad</a>
            <a href="http://localhost:4200/inicio#mapaSitio">Mapa del sitio</a>
            <a href="">¿Quienes Somos?</a>
        </div>
        <div class="redesSociales">
            <a href=""><i class="ri-twitter-fill"></i></a>
            <a href=""><i class="ri-facebook-fill"></i></a>
            <a href=""><i class="ri-instagram-fill"></i></a>
            <a href=""><i class="ri-youtube-fill"></i></a>
        </div>
    </div>

</footer>
<!-- ==========================================FOOTER END=============================-->
