:root {
    --grisClaro: #cbcbcb;
    --grisMedio: rgb(164, 164, 164);
    --letraBlanca:rgb(158, 158, 158);
    --red: #ff0000;
    --black: #171717;
    --grisOscuro: #3f3f3f;
    --border: .1rem solid rgba(0, , 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   /* ----------------------------------------------------------------------------*/
    --color-gris-principal:rgb(80, 80, 80);
    --background-color-principal:rgb(37,37,37);
    --background-degradado-principal :linear-gradient(to bottom right, rgb(37, 37, 37), rgb(41, 41, 41));
    --background-cajon-negro:linear-gradient(to bottom right,rgb(45, 45, 45),rgb(32, 32, 32) );
    --box-shadow-cajon-principal: 8px 8px 8px rgb(30, 30, 30), -8px -8px 8px rgb(45, 45, 45);    
    --border-top-cajon-principal: 1px solid rgb(52, 52, 52);
    --border-left-cajon-principal: 1px solid rgb(52, 52, 52);
    /*------------------------------------------------------------------------------*/
    --box-shadow-inputs: inset 4px 4px 4px rgb(30, 30, 30),
                inset -4px -4px 4px rgb(45, 45, 45);
    --border-bottom-inputs: 1px solid rgb(52, 52, 52);
    --border-right-inputs: 1px solid rgb(52, 52, 52); 
    /*---------------------------------------------------------------------------------*/    
    --background-titulo-principal: linear-gradient(to bottom, rgb(137, 137, 137), rgba(255, 0, 0, 0));
    --color-titulo-principal: transparent;
    --bold-titulo-principal: 700;
    --medida-titulo-principal: 5em;
    /*---------------------------------------------------------------------------------*/
    --background-titulo-secundario: linear-gradient(to top right, red 30% ,rgb(255, 0, 170));
    --color-titulo-secundario: transparent;
    --necesario-texto-secundario-1: text;/*-webkit-background-clip*/
    --necesario-texto-secundario-2: text;/*background-clip*/
    --medida-titulo-secundario: 3.5rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    min-zoom: 25px;    
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
    display: inline;
}

button {
    border-style: none;
    cursor: pointer;
}

input {
    border-style: none;
}

body {
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
    height: 800px;
    width: 100%;
}
/*====BOTONES ESTILO START===========*/

.btn{
    display: inline-block;
    transition: .3s;
    background: hsl(0, 100%, 50%);
    color: white;
}
.btn:hover{
 background-color: azure;
 color: red;
 transition: .5s ease-in-out;
}
.contenedorBotones {
    margin-left: 100px;
}

.btnIniciarSesion {
    font-size: 14px;
    margin-right: 30px;
    padding: 10px 50px;
    border-radius: 2px;
}
.btnBuscarProductos{
    font-size: 12px;
    margin: 1px;
    padding: 10px 20px;
    border-radius: 2px;
    justify-content: center;
}

.btnRegistrarse {
    font-size: 12px;
    margin: 15px;
    padding: 10px;
    width: 150px;
    border-radius: 2px;
    background: hsl(0, 0%, 70%);
    color: rgb(255, 0, 0);
}

/* boton nueva version*/
.boton{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-image:linear-gradient(to bottom right, rgb(255, 113, 113),  rgb(255, 72, 72));
    color: white;
    border-radius: 40px;
    font-size: 13px;
    box-shadow: 8px 8px 8px rgb(30, 30, 30),
                -8px -8px 8px rgb(65, 65, 65);   
}
.boton:hover{
    background-image:linear-gradient(to bottom right,  rgb(255, 0, 128),  rgb(255, 0, 0));
    color: white;
}
.btnDisabled{
    border-radius: 25px;
    margin-top: 10px;
    color: rgb(212, 212, 212);
    background: none;   
    box-shadow: inset 4px 4px 4px rgb(30, 30, 30),
                inset -4px -4px 4px rgb(45, 45, 45);
    border-bottom: 1px solid rgb(52, 52, 52);
    border-right: 1px solid rgb(52, 52, 52);
    
}
.btnDisabled:hover{
    background: none; 
    color: rgb(212, 212, 212);
}
 /* ================================*/
/* oculta la barra de scroll*/
::-webkit-scrollbar {
    width: 0;
}
/* forma del scroll*/
.barra_progreso {
    position: fixed;
    top: 0;
    left: 0;
    width: 3px;
    border-bottom: .5rem solid red;
    border-radius: 10px;
    background: rgb(253, 0, 0);
    z-index: 9999;
}

/*boton subir*/
.subirHome{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: red;
    font-size: 2rem;
    color: white;
    border-radius: 100%;
    transform: translateY(100px);
    transition: .9s;
    z-index: 99;
}
.subirHome:hover{
    background-color: white;
    color: red;
}
.subirHomeActivo{
    transform: translateY(0);
}


/*=====MEDIA QUERIES======*/

@media (max-width: 991px){
    .btnIniciarSesion {
        margin-right: 20px;
    }
}

@media (max-width: 768px){
    .btnIniciarSesion{
        display: none;
    }
}
@media (max-width: 450px){
   
}
/*====BOTONES ESTILO END===========*/