    
<!-- ==========================================SECTION 0 START=============================-->
<section class="sesion0 client-area" id="inicio">
        <!--2-->
        <div class="containerImg container">
            <!--======imagenes lamparas=========-->
            <div class="lamparas">
                <img class="lamp1" loading="lazy" src="./assets/img/garaje2.png" alt="lamparas">
                <img class="lamp2" loading="lazy" src="./assets/img/garaje3.png" alt="lamparas">
                <img class="lamp3" loading="lazy" src="./assets/img/garaje4.png" alt="lamparas">
                <img class="lamp4" loading="lazy" src="./assets/img/garaje5.png" alt="lamparas">
                <img class="lamp5" loading="lazy" src="./assets/img/garaje6.png" alt="lamparas">
                <img class="lamp6" loading="lazy" src="./assets/img/garaje7.png" alt="lamparas">
            </div>
            <!--======imagenes piso=========-->
            <img method="ScrollTriger(.imgPiso)" class="imgPiso" loading="lazy" src="./assets/img/garaje1.png" alt="Garaje">
            <!--======logos carros=========-->
            <div class="sliderLogo">
                <div class="slideTrackLogo">
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/bmw-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/ford-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/honda-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/hyunday-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/kia-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/mazda-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/mercedez-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/jeep-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/mitsubishi-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/renault-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/suzuki-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/toyota-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/bmw-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/ford-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/honda-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/hyunday-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/kia-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/mazda-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/mercedez-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/jeep-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/mitsubishi-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/renault-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/suzuki-logo.png" loading="lazy" alt="logos">
                    </div>
                    <div class="slideLogos">
                        <img src="./assets/img/logos/blancos/toyota-logo.png" loading="lazy" alt="logos">
                    </div>

                </div>
            </div>
            <!--======contenedor de carros=========-->
            <div class="sectionPrueba">
                <div class="carousel">
                    <div class="carousel__contenedor">
                        <button aria-label="Anterior" class="carousel__anterior2"><i
                                class="fas fa-chevron-left"></i></button>
                        <div class="carousel__lista">
                            <div class="carousel__elemento">
                                <button class="btnCarousel">SABER MAS</button>
                                <img class="s0ContCar" src="./assets/img/carros/car1cont.png" loading="lazy" alt="">
                                <img class="s0imgCar" loading="lazy" src="./assets/img/carros/car1.png" alt="car1.1">
                            </div>
                            <div class="carousel__elemento">
                                <button class="btnCarousel">SABER MAS</button>
                                <img class="s0ContCar" src="./assets/img/carros/car2cont.png" loading="lazy" alt="">
                                <img class="s0imgCar" loading="lazy" src="./assets/img/carros/car2.png" alt="car1.1">
                            </div>
                            <div class="carousel__elemento">
                                <button class="btnCarousel">SABER MAS</button>
                                <h1 class="title tituloEscoje">Escoje El Tuyo</h1>
                                <img class="s0ContCar" src="./assets/img/carros/car3cont.png" loading="lazy" alt="">
                                <img class="s0imgCar" loading="lazy" src="./assets/img/carros/car3.png" alt="car1.1">
                            </div>
                            <div class="carousel__elemento">
                                <button class="btnCarousel">SABER MAS</button>
                                <img class="s0ContCar" src="./assets/img/carros/car4cont.png" loading="lazy" alt="">
                                <img class="s0imgCar" loading="lazy" src="./assets/img/carros/car4.png" alt="car1.1">
                            </div>
                            <div class="carousel__elemento">
                                <button class="btnCarousel">SABER MAS</button>
                                <img class="s0ContCar" src="./assets/img/carros/car5cont.png" loading="lazy" alt="">
                                <img class="s0imgCar" loading="lazy" src="./assets/img/carros/car5.png" alt="car1.1">
                            </div>
                        </div>
                        <button aria-label="Siguiente" class="carousel__siguiente2"><i
                                class="fas fa-chevron-right"></i></button>
                    </div>
                    <div role="tablist" class="carousel__indicadores2"></div>
                </div>
            </div>
        </div>
</section>
<div class="divisorsesion1"></div>
<!--icono bajar a otra pestana===============================-->
<div class="cotenedor-icono">
        <p><a href="http://localhost:4200/inicio#vehiculos" class="texto-blanco"><i class="fas fa-chevron-down"></i></a></p>
</div>
<!-- ==========================================SECTION 0 END=============================-->
<!-- **********************************************************************************-->
<!-- ==========================================SECTION 1 START=============================-->
<section class="sesion1" id="vehiculos">
    <h1 class="tituloVenta">Vehículos<span>Disponibles</span> </h1>
    <div class="contenedor__sesion-ventas">
        <div class="contenedor__menu-buscar">
            <div class="contenedor__filtros">
                <p>Filtros activos</p>
            </div>
            <div class="contenedor__vista">
                <p>Vista</p>
                <i></i><!--buscar icono de cuadros-->
                <i></i><!--buscar icono de lineas-->
            </div>
            <div class="contenedor__ordenarPor">
                <p style="font-weight: bold;">Ordenar por:</p>
                <div class="contenedor__marca"> 
                    <p>Marca</p> 
                    <i></i> <!--marca logo--> 
                    <i class="fas fa-chevron-down"></i>                   
                </div>
                <div class="contenedor__modelo">
                    <p>Modelo</p>
                    <i></i> <!--icono carro-->
                    <i class="fas fa-chevron-down"></i>                        
                </div>
                <div class="contenedor__fechaVeh"> 
                    <p>Año</p>
                    <i></i><!--icono calensdario-->
                    <i class="fas fa-chevron-down"></i>                       
                </div>
                <div class="contenedor__tipoCarro">
                    <p>Tipo de Vehículo</p>
                    <i></i><!--icono carro-->
                    <i class="fas fa-chevron-down"></i>                        
                </div>
            </div>
        </div>
        <div class="contenedor__venta-vehiculos">
            <a href="#" class="frame-blanco-vehiculo">
                <div class="contenedor__img-carro-venta">
                    <img src="./assets/img/veh1.jpg" loading="lazy" alt="imgCarSell">
                </div>
                <div class="contenedor__contenido-carro-venta">
                    <h3 class="precio">$5.168956</h3>
                    <p>2012/98769 km</p>
                    <h4 class="marca">Toyota corola</h4>                                                
                </div>
            </a>
            <a href="#" class="frame-blanco-vehiculo">
                <div class="contenedor__img-carro-venta">
                    <img src="./assets/img/veh2.jpg" loading="lazy" alt="imgCarSell">
                </div>
                <div class="contenedor__contenido-carro-venta">
                    <h3 class="precio">$5.168956</h3>
                    <p>2012/98769 km</p>
                    <h4 class="marca">Toyota corola</h4>                                                
                </div>
            </a>
            <a href="#" class="frame-blanco-vehiculo">
                <div class="contenedor__img-carro-venta">
                    <img src="./assets/img/veh3.jpg" loading="lazy" alt="imgCarSell">
                </div>
                <div class="contenedor__contenido-carro-venta">
                    <h3 class="precio">$5.168956</h3>
                    <p>2012/98769 km</p>
                    <h4 class="marca">Toyota corola</h4>                                                
                </div>
            </a>
            <a href="#" class="frame-blanco-vehiculo">
                <div class="contenedor__img-carro-venta">
                    <img src="./assets/img/veh4.jpg" loading="lazy" alt="imgCarSell">
                </div>
                <div class="contenedor__contenido-carro-venta">
                    <h3 class="precio">$5.168956</h3>
                    <p>2012/98769 km</p>
                    <h4 class="marca">Toyota corola</h4>                                                
                </div>
            </a>
            <a href="#" class="frame-blanco-vehiculo">
                <div class="contenedor__img-carro-venta">
                    <img src="./assets/img/veh5.jpg" loading="lazy" alt="imgCarSell">
                </div>
                <div class="contenedor__contenido-carro-venta">
                    <h3 class="precio">$5.168956</h3>
                    <p>2012/98769 km</p>
                    <h4 class="marca">Toyota corola</h4>                                                
                </div>
            </a>
            <a href="#" class="frame-blanco-vehiculo">
                <div class="contenedor__img-carro-venta">
                    <img src="./assets/img/veh6.jpg" loading="lazy" alt="imgCarSell">
                </div>
                <div class="contenedor__contenido-carro-venta">
                    <h3 class="precio">$5.168956</h3>
                    <p>2012/98769 km</p>
                    <h4 class="marca">Toyota corola</h4>                                                
                </div>
            </a>
        </div>
    </div>
</section>
<!-- ==========================================SECTION 1 END=============================-->
<!-- **********************************************************************************-->
<!-- ==========================================SECTION 2 MISION START=============================-->
<section class="sesion__mision">
    <div class="box">
        <!--el elemento  data-jarallax-element mueve el elemento de derecha a izquierda el valor 0 pertenece al eje "Y" y el 200 pertenece al eje "X" -->
        <h2 >Misión </h2>
        <div class="container">                
            <div class="imgBx jarallax"><!--la clase jarallax reconoce donde esta la imagen que se va a mover-->
                <img class="jarallax-img" src="./assets/img/mision.jpg" alt="mision-imagen" loading="lazy"><!--la clase jarallax-img es elobjeto que se mueve -->
            </div>
            <div class="content" >
                <p>Somos un concesionario oficial ubicado en Colombia especializado en la comercialización de automóviles de alta gama nuevos y usados, así como de sus repuestos, accesorios y mantenimiento. Nuestro equipo se encuentra altamente capacitado para brindar un servicio profesional, calificado, óptimo y personalizado, cumpliendo con el ordenamiento social, ambiental y de la marca buscando la tranquilidad y seguridad de nuestros clientes.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ==========================================SECTION 2 MISION END=============================-->
<!--*****************************************************************************-->
<!-- ==========================================SECTION 2 VISION START=============================-->
<section class="sesion__vision">
    <div class="box">
        <!--el elemento  data-jarallax-element mueve el elemento de derecha a izquierda el valor 0 pertenece al eje "Y" y el 200 pertenece al eje "X" -->
        <h2 >Visión </h2>
        <div class="container">                
            <div class="imgBx jarallax"><!--la clase jarallax reconoce donde esta la imagen que se va a mover-->
                <img class="jarallax-img" src="./assets/img/vision.jpg" alt="mision-imagen" loading="lazy"><!--la clase jarallax-img es elobjeto que se mueve -->
            </div>
            <div class="content" >
                <p>Ser uno de los concesionarios con la mayor tecnología de punta y confort en sus automóviles, garantizando ser la opción preferida en el mercado, líder en calidad, rentabilidad, capacidad financiera y la mejor experiencia para nuestros clientes.</p>
            </div>
        </div>
    </div>
</section>
<!-- ==========================================SECTION 2 VISION END=============================-->
<!--*****************************************************************************-->
<!-- ==========================================SECTION 2 START=============================-->
<section class="sesion2" id="pruebaManejo">
    <div class="conS2">
        <div class="s2-text">
            <h1>Prueba<span>de Manejo</span></h1>
            <p>VIVE LA EXPERIENCIA DE CONDUCIR EN NUESTRO CONCECIONARIO, <br> VEN YA Y AGENDA TU CITA CON NOSOTROS!
                <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ex repellat in facere, quod
                hic quis rerum quam amet asperiores nisi nemo perferendis accusantium. Distinctio quo laborum velit
                deserunt numquam. </p>
        </div>
        <div class="s2-img2">
            <img src="./assets/img/carDrift.png" loading="lazy" alt="BMW-M6-2">
        </div>
    </div>
</section>
<!-- ==========================================SECTION 2 END=============================-->
<!-- **********************************************************************************-->
<!-- ==========================================SESION 3 START=============================-->
<section class="sesion3" id="servicio">
    <div class="conS3">
        <div class="s3-img1">
            <img src="./assets/img/llantasMonton.png" loading="lazy" alt="monton de llantas">
        </div>
        <div class="s3-text">
            <h1>Servicios</h1>
            <p><a href="">* Aplican términos y condiciones.Por favor antes de acceder a nuestros servicios lea
                    cuidadosamente las clausulas del doumento</a></p>
            <div>
                <h3>Taller</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sed itaque facilis, repellendus
                    quia vel iste quo officia perferendis accusamus harum </p>
            </div>
            <div>
                <h3>Accesorios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sed itaque facilis, repellendus
                    quia vel iste quo officia perferendis accusamus harum </p>
            </div>
            <div>
                <h3>Repuestos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sed itaque facilis, repellendus
                    quia vel iste quo officia perferendis accusamus harum </p>
            </div>
        </div>
        <div class="s3-img2">
            <img src="./assets/img/llantaSombra.png" loading="lazy" alt="Llanta">
            <img class="s3-img2-animacion" src="./assets/img/llanta.png" loading="lazy" alt="sombra">
        </div>
    </div>
</section>
<!-- ==========================================SECTION 3 END=============================-->
<!-- **********************************************************************************-->
<!-- ==========================================SESION 4 START=============================-->
<section class="sesion4" id="contacto">
    <div class="s4-cont">
        <h1 class="heading">Contáctenos</h1>
        <div class="row">
            <form action="" class="containerFormaulario">
                <input type="text" placeholder="Nombre" class="box">
                <input type="email" placeholder="E-mail" class="box">
                <input type="number" placeholder="Telefono" class="box">
                <textarea placeholder="Escribe tu mensaje" class="box" cols="30" rows="10"></textarea>
                <button type="submit"  class="btn btnContactenos">Enviar</button>
                <!--=======CAPTCHA VALIDACION START==========-->
                <!--ngx-recaptcha2 #captchaElem
                    [siteKey]="siteKey" ></ngx-recaptcha2-->
                <!--=======CAPTCHA VALIDACION START==========-->
            </form>
            <img src="./assets/img/concecionario.png" loading="lazy" alt="">
        </div>
    </div>
</section>
<!-- ==========================================SECTION 4 END=============================-->
<!-- **********************************************************************************-->
<!-- ==========================================SESION 5 START=============================-->
<section class="sesion5" id="mapaSitio">
    <div class="conS5">
        <div class="s5-img1">
            <img src="./assets/img/bmw-3.png" loading="lazy" alt="bmw-m6-front">
        </div>
        <div class="s5-text">
            <h1>Mapa<span>del Sitio</span></h1>
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2334364227613!2d-75.57588018575862!3d6.2329279954881605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44284b5701a58f%3A0xb31d13b03ef5d400!2sFord%20-%20El%20Roble%20Motor%20Palac%C3%A9!5e0!3m2!1sen!2sin!4v1636909737422!5m2!1sen!2sin"
                allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="s5-img2">
            <img src="./assets/img/BMW-M6-2.png" loading="lazy" alt="BMW-M6-2">
        </div>
    </div>
</section>
<!-- ==========================================SECTION 5 END=============================-->
<!-- **********************************************************************************-->