.infoPersona{
    background-color: var(--background-color-principal);
    color: var(--color-gris-principal);
    padding: 20vh 10vw;
}
.infoPersona h1{
    font-size: 4rem;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gris-principal);
}
.informacion{
    margin-top: 30px;
    width: 100%;
    *background-color: thistle;
}
.informacion div{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
.informacion p{
    display: flex;
    align-items: center;
    height: 55px;
    width: 190px;
    border-bottom: 1px solid var(--color-gris-principal);    
}
.informacion span{
    display: flex;
    align-items: center;
    *background-color: rgb(224, 181, 64);
    width: 100%;
    border-bottom: 1px solid var(--color-gris-principal);
}
.botones_edicion-eliminacion{
    *background-color: red;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
}
.botones_edicion-eliminacion a{
    margin-bottom: 20px;
    color: seashell;
}
.botones_edicion-eliminacion a:hover{
    color: rgb(255, 0, 0);
}