<section class="listadoPersonas">
    <h1>Nuestros Asesores</h1>
    <a routerLink="/administracion/registrar-asesor" class="boton">Registrar a un nuevo asesor</a>
      <!--=============================-->
      <div class="encabezado">        
        <h4>Nombre</h4>
        <h4>Apellido</h4>
        <h4 style="width: 100px;">Rol</h4>
        <h4>Email</h4>
        <h4 style="width: 100px;"></h4>
        <h4 style="width: 100px;"></h4>
        <h4 style="width: 100px;"></h4>
      </div>
      <!--=============================-->
      <div *ngFor="let p of listadoAsesores">
        <div class="contenido">
          
          <p>{{p.nombres}}</p>
          <p>{{p.apellidos}}</p>
          <p style="width: 100px;">{{p.rol}}</p>
          <p>{{p.correoElectronico}}</p>
          <p style="width: 100px;"><a routerLink="/administracion/index-cliente/{{p.id}}" class="ver">Ver</a></p>
          <p style="width: 100px;"><a routerLink="/administracion/actualizar-asesor/{{p.id}}" class="editar">Editar</a></p>
          <p style="width: 100px; "><a routerLink="/administracion/eliminar-asesor/{{p.id}}"  class="eliminar" >Eliminar</a></p>
        </div>
    </div>
  </section>